.u-section-1 .u-sheet-1 {
  min-height: 493px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 433px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 464px;
  height: 274px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 37px 77px 0 127px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  width: 464px;
  height: 274px;
  margin: 41px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 37px 77px 0 127px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 356px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 3px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 189px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 189px;
  }
}