.u-section-1 .u-sheet-1 {
  min-height: 873px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -12px;
  margin-bottom: 17px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 881px;
}

.u-section-1 .u-container-layout-1 {
  padding: 23px 30px 20px;
}

.u-section-1 .u-image-1 {
  width: 164px;
  height: 186px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 29px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 26px auto 0 24px;
}

.u-section-1 .u-social-icons-1 {
  height: 58px;
  min-height: 16px;
  width: 194px;
  min-width: 68px;
  margin: 13px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(0, 137, 203) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 27px auto 0 17px;
}

.u-section-1 .u-slider-1 {
  min-height: 375px;
  height: auto;
  margin: 13px 0 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  width: 285px;
  height: 204px;
  margin: 0 auto 0 -6px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  width: 290px;
  height: 204px;
  margin: 0 -8px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 390px;
  width: 282px;
  margin: -7px auto 0 -7px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-5 {
  width: 285px;
  height: 167px;
  margin: 0 -2px;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 911px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 3px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 3px 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 38px 0 0;
}

.u-section-1 .u-list-1 {
  margin-top: -14px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 375px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  width: 71px;
  height: 71px;
  margin: 27px 268px 0 5px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: -50px;
  margin-left: 93px;
  font-weight: 700;
}

.u-section-1 .u-text-8 {
  margin: 38px 0 0 7px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-image-7 {
  width: 71px;
  height: 71px;
  margin: 27px 268px 0 5px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: -50px;
  margin-left: 93px;
  font-weight: 700;
}

.u-section-1 .u-text-10 {
  margin: 38px 0 0 7px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-image-8 {
  width: 71px;
  height: 71px;
  margin: 27px 268px 0 5px;
}

.u-section-1 .u-text-11 {
  margin-bottom: 0;
  margin-top: -50px;
  margin-left: 93px;
  font-weight: 700;
}

.u-section-1 .u-text-12 {
  margin: 38px 0 0 7px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-1 .u-image-9 {
  width: 71px;
  height: 71px;
  margin: 27px 268px 0 5px;
}

.u-section-1 .u-text-13 {
  margin-bottom: 0;
  margin-top: -50px;
  margin-left: 93px;
  font-weight: 700;
}

.u-section-1 .u-text-14 {
  margin: 38px 0 0 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 726px;
  }

  .u-section-1 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 751px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 305px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 132px;
    height: 150px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 47px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-6 {
    margin-right: 229px;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-right: 229px;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    margin-right: 229px;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    margin-right: 229px;
    margin-left: 0;
  }
}