.u-section-1 .u-sheet-1 {
  min-height: 778px;
}

.u-section-1 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  font-size: 1.25rem;
  border-style: solid;
  --radius: 37px;
  margin: 20px auto 0;
  padding: 19px 60px 20px;
}

.u-section-1 .u-text-2 {
  margin: -52px auto 0 120px;
}

.u-section-1 .u-list-1 {
  margin-top: 43px;
  margin-bottom: 43px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 485px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-1 {
  width: 377px;
  height: 265px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 10px 0;
}

.u-section-1 .u-image-2 {
  width: 377px;
  height: 265px;
  margin: 11px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-6 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 292px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -353px;
    margin-bottom: 49px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: 402px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -695px;
    margin-bottom: -295px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 373px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 295px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -666px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 293px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 76px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -611px;
    margin-bottom: -190px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 225px;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 225px;
  }
}